@model JobbyGarden.Models.Teacherr

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutpanel.cshtml";
}

<h2>Create</h2>

<h4>Teacherr</h4>
<hr />
<<section class="content" style="height:auto">
    <div class="container-fluid">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Fullname" class="control-label"></label>
                    <input asp-for="Fullname" class="form-control" />
                    <span asp-validation-for="Fullname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Images" class="control-label"></label>
                    <input asp-for="Images" class="form-control" type="file" />

                    <span asp-validation-for="Images" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Minidescription" class="control-label"></label>
                    <input asp-for="Minidescription" class="form-control" />
                    <span asp-validation-for="Minidescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TitleDesc" class="control-label"></label>
                    <input asp-for="TitleDesc" class="form-control" />
                    <span asp-validation-for="TitleDesc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Special" class="control-label"></label>
                    <input asp-for="Special" class="form-control" />
                    <span asp-validation-for="Special" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Experience" class="control-label"></label>
                    <input asp-for="Experience" class="form-control" />
                    <span asp-validation-for="Experience" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input type="tel" asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sliderdesc" class="control-label"></label>
                    <input asp-for="Sliderdesc" class="form-control" />
                    <span asp-validation-for="Sliderdesc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
    </section>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

