@model JobbyGarden.Models.Age

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutpanel.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <h2>Create</h2>

        <h4>Age</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Miniage" class="control-label"></label>
                        <input asp-for="Miniage" class="form-control" min="0" />
                        <span asp-validation-for="Miniage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Maxage" class="control-label"></label>
                        <input asp-for="Maxage" class="form-control" min="0"/>
                        <span asp-validation-for="Maxage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        </div>
</section>